<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=400, user-scalable=yes">
    <title>
      エイチーム内定者クイズ
    </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>
      <img src="/static/a-tm.png" alt="エイチーム" width="150px" />
      内定者クイズ
    </h1>
    <h2>
        結果発表
    </h2>
    <p class="result">
      2/5問正解
    </p>
    <table class="results">
      <thead>
        <tr>
          <th>
            あなたの解答
          </th>
          <th>
            模範解答
          </th>
          <th>
            判定
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="a.png">
              Aさん<br />
              <img src="a.png" width="100px" />
            </a>
          </td>
          <td>
            <a href="b.png">
              Bさん<br />
              <img src="b.png" width="100px" />
            </a>
          </td>
          <td>
            ×
          </td>
        </tr>
        <tr>
          <td>
            <a href="c.png">
              Cさん<br />
              <img src="c.png" width="100px" />
            </a>
          </td>
          <td>
            <a href="c.png">
              Cさん<br />
              <img src="c.png" width="100px" />
            </a>
          </td>
          <td>
            〇
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      参加ありがとうございました！！
    </p>
    </form>
    <small>
      このページはエイチームWebプログラマー内定者によって作成されました
    </small>
  </body>
</html>
