<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=400, user-scalable=yes">
    <title>
      エイチーム内定者クイズ
    </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>
      <img src="/static/a-tm.png" alt="エイチーム" width="150px" />
      内定者クイズ
    </h1>
    <form method="POST" action=".">
      <dl class="questions">
        <!--##########ここから##########-->
        <dt>
          <h2>
            Q1
          </h2>
        </dt>
        <dd>
          <p>
            ......な人は次のうち誰でしょう。
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="answer1" />Aさん
                <radio
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer1" />Bさん
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer1" />Cさん
              </label>
            </li>
          </ul>
        </dd>
        <!--##########ここまでを繰り返す##########-->
        <dt>
          <h2>
            Q2
          </h2>
        </dt>
        <dd>
          <p>
            ......な人は次のうち誰でしょう。
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="answer2" />Aさん
                <radio
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer2" />Bさん
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer2" />Cさん
              </label>
            </li>
          </ul>
        </dd>
        <dt>
          <h2>
            Q3
          </h2>
        </dt>
        <dd>
          <p>
            ......な人は次のうち誰でしょう。
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="answer3" />Aさん
                <radio
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer3" />Bさん
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer3" />Cさん
              </label>
            </li>
          </ul>
        </dd>
      </dl>
      <input type="submit" value="送信" />
    </form>
    <small>
      このページはエイチームWebプログラマー内定者によって作成されました
    </small>
  </body>
</html>
