<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=400, user-scalable=yes">
    <title>
      エイチーム内定者クイズ
    </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>
      <img src="/static/a-tm.png" alt="エイチーム" width="150px" />
      内定者クイズ
    </h1>
    <form method="POST" action="/web/ans">
      <dl class="questions">
        <!--##########ここから##########-->
        <dt>
          <h2>
            Q1
          </h2>
        </dt>
        <dd>
          <p>
            大学時代，しんどいときは水曜どうでしょうで癒やされていたのは誰でしょう。
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="answer1" value='oohigashi'/>大東 祐太
                <radio
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer1" value='murabayashi'/>村林 巧
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer1" value='yasui'/>安井 岳
              </label>
            </li>
          </ul>
        </dd>
        <!--##########ここまでを繰り返す##########-->
        <dt>
          <h2>
            Q2
          </h2>
        </dt>
        <dd>
          <p>
            アイドルが好きすぎるあまり，ゼミの進捗報告でオタク活動についても報告していたのは誰でしょう。
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="answer2" value='oohigashi'/>大東 祐太
                <radio
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer2" value='murabayashi'/>村林 巧
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer2" value='yasui'/>安井 岳
              </label>
            </li>
          </ul>
        </dd>
        <dt>
          <h2>
            Q3
          </h2>
        </dt>
        <dd>
          <p>
            小学生の時にゲームを親に取られ，自分でゲームを作るためにプログラミングを始めたのは誰でしょう。
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="answer3" value='oohigashi'/>大東 祐太
                <radio
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer3" value='murabayashi'/>村林 巧
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="answer3" value='yasui'/>安井 岳
              </label>
            </li>
          </ul>
        </dd>
      </dl>
      <input type="submit" value="送信" />
    </form>
    <small>
      このページはエイチームWebプログラマー内定者によって作成されました
    </small>
  </body>
</html>
