<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=400, user-scalable=yes">
    <title>
      エイチーム内定者クイズ
    </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>
      <img src="/static/a-tm.png" alt="エイチーム" width="150px" />
      内定者クイズ
    </h1>
    <h2>
        「エイチーム内定者クイズ」へようこそ！！
    </h2>
    <form method="POST" action="/web/quiz">
      <p>
        自分の名前を入力してください！！
      </p>
      <input type="text" value="" name="name" placeholder="名前" class="name" />
      <p class="warning">
        スライドに従って、クイズを進めていってください！
      </p>
      <input type="submit" value="スタート" />
    </form>
    <small>
      このページはエイチームWebプログラマー内定者によって作成されました
    </small>
  </body>
</html>
